<h2>Add to the list</h2>
{{ errorMessage }}
<form action="/todolist" method="post">
    <input type="text" name="item" placeholder="new item">
    <input type="submit" value="submit">
</form>
<br />
<h2>Your To Do list</h2>
<br />
<table class="center">
    <tr>
        <th scope="col">Task</th>
        <th scope="col">Delete</th>
        <th scope="col">Completed</th>
    </tr>
    {{#each listArray}}
        <tr>
            <td>{{ this.item }}</td>
            <td>
                <form action="/delete" method="post">
                    <button type="submit" class="remove-button" name="delete" value="{{this._id}}" >X</button>
                </form>
            </td>
            <td>{{ this.complete }}</td>
        </tr>
    {{/each}}
</table>

<br />
<h3>Completed tasks</h3>
<ul>
    {{#each completedArray}}
        <li>
            {{ this.item }}
        </li>
    {{/each}}
</ul>